body {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

[data-tooltip] {
  cursor: default;
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  min-width: 150px;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  font-size: 14.5px;
  border-radius: 4px;

  bottom: 110%;
  left: calc(50% - (150px / 2));
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: transform 0.2s, opacity 0.1s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}